 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}
main {
    padding-bottom: 60px;  
}


.header {
    display: flex;
    align-items: center;
    background-color: #004080;
    color: white;
    padding: 20px;
}

.header img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

nav {
    background-color: #003366;  
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #00264d;  
}

 
.vision-mision {
    display: flex;
    color: #003366;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

.vision, .mision {
    width: 45%;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
}

.vision:hover, .mision:hover {
    transform: scale(1.05);  
}

.resumen {
    color: #003366;
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;  
    border-radius: 10px;
    margin: 20px;
}

.resumen-content {
    padding: 20px;
    color: black;
}

.imagenes {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 40px;  
}

.imagenes img {
    width: 22%;
    height: auto;
    border-radius: 10px;
}

.tracking {
    padding: 20px;
    text-align: center;
}
 
.quienes-somos {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
    color: #003366;
}

.quienes-somos h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.integrantes {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.integrante {
    width: 25%;
    text-align: center;
}

.integrante img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.integrante h3 {
    margin-bottom: 5px;
    font-size: 22px;
}

.integrante p {
    font-size: 16px;
    color: #666;
}


footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
